{% extends 'learning_logs/base.html' %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>About us</title>
</head>
<body>
<div>
    <h2>What we do:</h2>
    <p>Our mission is to offer the best rate loans and mortgages at the touch of a button, personally tailored to your needs.

    <p>We have automated the loan and mortgage process and this means less time spent for you and almost no paperwork and no phone calls.</p>
</div>
<div>
    <h2>Who we are:</h2>
    <p>We are an Independent Credit Broker and offer products from all UK banks.</p>
    <p>Typically, our role is to advise you and, after we have assessed your needs, to make a suitable offer.</p>
</div>
<div>
    <h2>Our locations:</h2>
    <p>London</p>
    <p>Birmingham</p>
    <p>Cardiff</p>
    <p>Manchester</p>
    <p>Glasgow</p>
</div>
<div>
    <h2>People:</h2>
    <p>John Redknapp - CEO</p>
    <p>Alistair White - Area Manager</p>
    <p>Henry Strudel - CFO</p>
</div>
<div>
    <h6>Download our Terms & Conditions <a href="/media/termsandconditions.pdf" download="T & C">here</a></h6>
</div>

</body>

{% endblock content %}