{% extends 'learning_logs/base.html' %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>About us</title>
</head>
<body>
    <h2>What we do:</h2>
    <p>Our services are...</p>
    <h2>Who we are:</h2>
    <p>we are a company that ...</p>
    <h2>Our locations:</h2>
    <p>our locations are...</p>
    <h2>People:</h2>
    <p>our colleagues are...</p>
    <h2>Terms & Conditions:</h2>
    <p>our terms and conditions are...</p>

    {#What we do, who we are, where we are, people, T&C#}

</body>

{% endblock content %}