{% extends 'learning_logs/base.html' %}

{% block content %}

    <div>
        <h2>APPLY ONLINE</h2>

        <p>Click <a href="{% url 'learning_logs:apply_online' request.user.id %}">here</a> to apply online</p>

    </div>

    <div>
        <h2>APPLY BY POST OR VISIT OUR BRANCH</h2>

            <p>Required documents:</p>
        <ul>
            <li>Passport or National ID card</li>
            <li>Application Form <a href="/static/ApplicationForm.pdf" download="application form">Download</a></li>
            <li>CRB check</li>
            <li>Scoring</li>
            <li>Proof of address</li>
            <li>Utility bills</li>
        </ul>

    </div>

    <div>
        <h4>Download our Terms & Conditions <a href="/static/termsandconditions.pdf" download="T & C">here</a></h4>
    </div>

{% endblock content %}