{% extends 'learning_logs/base.html' %}

{% block content %}


    <form action="{% url 'learning_logs:calculator' request.user.id %}" method='post'>
            {% csrf_token %}
        {%  for field in form %}
            {{ field.label }} {{ field }}
            <br>
            <br>
        {%  endfor %}
    <br><br>

        <button name="submit">Calculate</button>
    </form>
    <br>
            <a>You will receive £{{ take_home }}</a><br>
            <a>Your monthly repayment will be £{{ repayment }}</a><br>
            <a>The total amount repayable will be £{{ loan_total }} </a><br>
            <a>The total interest paid will be £{{ fees }}</a>

    <br>

    <div>

        <br><p>After the customer obtains the quote. Button if they wish to apply ...
            redirects them to the Apply page (and they have to upload a file with some scanned documents)?</p>

        <button>Apply for this loan</button>
    </div>

{% endblock content %}