{% extends 'learning_logs/base.html' %}

{% block content %}

    <div>
        <a>Drop down list</a>
            <p>Fields to enter date, some more drop down lists</p>
        <button>Calculate</button>
    </div>

    <div>

        <br><p>After the customer obtains the quote. Button if they wish to apply ...
            redirects them to the Apply page (if registered, to not need to type their
            personal data again, just some forms?</p>

        <p>Use a lot of buttons and radio buttons where possible</p>

        <button>Apply for this loan</button>
    </div>

{% endblock content %}