{% extends 'learning_logs/base.html' %}

{% block content %}

    <a href="{% url 'learning_logs:contact' %}" class="btn btn-outline-warning">Back to contact details page</a>
    <br><br>
    <h1>Send us a message by filling the form below</h1>
    <br>

    <form action="" method='post'>
        {% csrf_token %}
        {%  for field in form %}
            {{ field.label }} {{ field }} <br> {{ field.errors }}
            <br>
        {%  endfor %}
    <br>
        <button name="submit" class="btn btn-outline-success">Send message</button>
    </form>
    <br>

{% endblock content %}