{% extends 'learning_logs/base.html' %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Contact us</title>
</head>
<body>
    <h2>How you can contact us:</h2>
    <p>Easy Loans Ltd</p>
    <p>Telephone: 05230-112-331</p>
    <p>e-mail: info@easyloans.com</p>
    <p>twitter: @easyloans</p><br><br>
    <h2>Where you can find us:</h2>
    <p>1 Jubilee Street</p>
    <p>London</p>
    <p>WC2B 3PR</p>
    <p>UK</p>

    <img src="/media/our_location.jpg" alt="our location" width="380" height="300">
    <br>
    <br>

    {% if user.is_authenticated %}
        <a href="{% url 'learning_logs:contact_form' request.user.id %}" class="btn btn-outline-success">Send us a message (you must be logged in)</a>
    {% endif %}

</body>

{% endblock content %}