{% extends 'learning_logs/base.html' %}

{% block page_header %}

<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">

<style type="text/css">

    .demo-content {
        padding: 15px;
        font-size: 18px;
        min-height: 300px;
        background: #dbdfe5;
        margin-bottom: 10px;
    }

    .demo-content.bg-alt {
        background: #abb1b8;
    }
</style>

</head>

<body>

    <div class="jumbotron">
        <h1 class="display-3">Easy loans! Loans... easy!</h1>
        <p class="lead">We are confident that our great service will meet all your expectations!</p>
    </div>

    {% if not user.is_authenticated %}
        <div class="jumbotron">
            <a class="btn btn-lg btn-outline-dark" href="{% url 'users:register' %}" role="button">Register</a>
        </div>
    {% endif %}

    {% if user.is_authenticated %}
        <div class="container">
          <a href="{% url 'learning_logs:my_space' request.user.id %}" class="btn btn-outline-success">My account</a>
          <a href="{% url 'learning_logs:apply' %}" class="btn btn-outline-success">Apply for a loan</a>
          <a href="{% url 'learning_logs:calculator' request.user.id %}" class="btn btn-outline-success">Loan calculator</a>
        </div>
    {% endif %}
<br>
    <div>
        <h3>Banks in the UK</h3>
        <a href="https://personal.rbs.co.uk/" target="_blank" class="btn btn-outline-primary">RBS</a>
        <a href="https://www.hsbc.co.uk/" target="_blank" class="btn btn-outline-primary">HSBC</a>
        <a href="https://www.barclays.co.uk/" target="_blank" class="btn btn-outline-primary">Barclays</a>
        <a href="https://www.halifax.co.uk/" target="_blank" class="btn btn-outline-primary">Halifax</a>
        <a href="https://www.lloydsbank.com/" target="_blank" class="btn btn-outline-primary">Lloyds Bank</a>
        <a href="https://www.metrobankonline.co.uk/" target="_blank" class="btn btn-outline-primary">Metro Bank</a>
        <a href="https://personal.natwest.com/" target="_blank" class="btn btn-outline-primary">Natwest</a>
    </div>

        <br>

    <div>
    <h3>Exchange rates at {{ date }} (from EUR) </h3>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="demo-content">
                <table>
                    <thead>
                        <tr>
                            <th>Currency</th>
                            <th>Rates</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for currencies, values in result.items %}
                            {% if forloop.counter <= 56 %}
                            <tr>
                                <td>{{ currencies }}</td>
                                <td>{{ values }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>

                </table>
                </div>
            </div>

        <div class="col-md-4">
            <div class="demo-content">
                <table>
                    <thead>
                        <tr>
                            <th>Currency</th>
                            <th>Rates</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for currencies, values in result.items %}
                            {% if forloop.counter >= 57 and forloop.counter <= 112 %}
                            <tr>
                                <td>{{ currencies }}</td>
                                <td>{{ values }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>

        <div class="col-md-4">
            <div class="demo-content">
                <table>
                    <thead>
                        <tr>
                            <th>Currency</th>
                            <th>Rates</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for currencies, values in result.items %}
                            {% if forloop.counter >= 113 and forloop.counter <= 200 %}
                            <tr>
                                <td>{{ currencies }}</td>
                                <td>{{ values }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
              </div>
        </div>

            </div>
</div>

    </div>

</body>

{% endblock page_header %}