{% extends 'learning_logs/base.html' %}

{% block page_header %}

<head>

    <title>Home</title>
</head>

<body>

    <div class="jumbotron">
        <h1 class="display-3">Easy loans! Loans... easy!</h1>
        <p class="lead">We know that our services will match your greatest expectations!</p>
    </div>

    {% if not user.is_authenticated %}
        <div class="jumbotron">
            <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Register</a>
        </div>
    {% endif %}

    <div>

    <h3>Exchange rates at {{ date }} (from EUR) </h3>

    <table>
        <thead>
            <tr>
                <th>Currency</th>
                <th>Rates</th>
            </tr>
        </thead>

        <tbody>
            {% for currencies, values in result.items %}
                <tr>
                    <td>{{ currencies }}</td>
                    <td>{{ values }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    </div>

</body>

{% endblock page_header %}