{% extends 'learning_logs/base.html' %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Loans</title>
</head>

<body>
<div>
    <h1>The main products that we offer</h1>
    <br>
    <h2>Homeowner Loan</h2>
        <p>Max amount: £10 M</p>
        <p>Purpose: for purchasing a flat or a house </p>
        <p>Term: 5 - 40 years</p>
</div>

<div>
    <h2>Car purchase</h2>
        <p>Max amount: £100,000.00</p>
        <p>Purpose: for purchasing a car or other motorised vehicles</p>
        <p>Term: 1 - 10 years</p>
</div>

<div><h2>Personal Loan</h2>
        <p>Max amount: £50.000,00</p>
        <p>Purpose: for personal needs (justification not required)</p>
        <p>Term: 1 - 10 years</p>
</div>

</body>

{% endblock content %}