{% extends 'learning_logs/base.html' %}

{% block content %}

    <a href="{% url 'learning_logs:my_space' request.user.id %}">Back to my account</a>

    <h1>MY MESSAGES</h1>

{#    {% if not user_messages %}#}
{##}
{#        <p>You have no messages!</p>#}
{##}
{#    {% else %}#}
{##}
{#        {% for message in user_messages %}#}

            <ul>{{ user_messages.customer_message_subject }} </ul>
            <ul>{{ user_messages.customer_message }}</ul>
            <ul>{{ user_messages.date_added }}</ul>

{#        {% endfor %}#}

{#    {% endif %}#}
{% endblock content %}