{% extends 'learning_logs/base.html' %}
{% block content %}
    <a href="{% url 'learning_logs:my_space' request.user.id %}">Back to account overview</a>

    <h5>The user's loans and additional information (after you change status to "approved" to show the monthly repayment and, term etc</h5>
    <br>
        <h1>MY LOAN REQUESTS</h1>

    {% if not user_loans %}

        <p>There are no loan requests!</p>

    {% else %}

        {% for loan in user_loans %}

            <li><h3>
                <a href="{% url 'learning_logs:my_loans' loan.id %}">AMOUNT: {{ loan.loan_amount }} -
                    TERM (years): {{ loan.loan_term }}</a>
            </h3></li>

        {% endfor %}

    {% endif %}

{% endblock %}