{% extends 'learning_logs/base.html' %}
{% block content %}
    <a href="{% url 'learning_logs:my_space' request.user.id %}" class="btn btn-outline-warning">Back to account overview</a>

    <h5>The user's loans and additional information (after you change status to "approved" to show the monthly repayment and, term etc</h5>
    <br>
        <h1>MY LOAN REQUESTS</h1>

    {% if not user_loans %}

        <p>There are no loan requests!</p>

    {% else %}
        <table>
        <thead>
            <tr>
            <th>Req no.</th>
            <th>Loan Amount</th>
            <th>Loan Term</th>
            </tr>
        </thead>

        <tbody>
            {% for loan in user_loans %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ loan.loan_amount }}</td>
                    <td>{{ loan.loan_term }}</td>
                    <td><a href="{% url 'learning_logs:view_loan_request' loan.id %}" class="btn btn-outline-success">View details</a></td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    {% endif %}

{% endblock %}