{% extends 'learning_logs/base.html' %}

{% block content %}

    <h1>PROFILE</h1>

    <a href="{% url 'learning_logs:customer_details' request.user.id %}" class="btn btn-outline-success">Edit your personal details</a><br>
    <br>

    <p>FIRST NAME: {{ user_personal_data.first_name }} </p>
    <p>LAST NAME: {{ user_personal_data.last_name }}</p>
    <p>EMAIL: {{ user_personal_data.email }}</p>
    <p>CONTACT NUMBER: {{ user_personal_data.contact_number }}</p>
    <p>ID: {{ user_personal_data.id }}</p>
    <p>ADDRESS LINE 1: {{ user_personal_data.address_line1 }}</p>
    <p>ADDRESS LINE 2: {{ user_personal_data.address_line2 }}</p>
    <p>ADDRESS LINE 3: {{ user_personal_data.address_line3 }}</p>
    <p>CITY: {{ user_personal_data.address_city }}</p>
    <p>COUNTY: {{ user_personal_data.address_county }}</p>
    <p>POST CODE: {{ user_personal_data.address_post_code }}</p>
    <p>COUNTRY: {{ user_personal_data.address_country }}</p>

    {% if user_personal_data.alerts.value == True %}
        <p>ALERTS: Yes</p>
    {% else %}
        <p>ALERTS: No</p>
    {% endif %}

    {% if user_personal_data.newsletter_selection.value == True %}
        <p>NEWSLETTER: Yes</p>
    {% else %}
        <p>NEWSLETTER: No</p>
    {% endif %}

    <img src="/{{ user_personal_data.profile_picture }}" alt="Profile picture missing" width="160" height="170" ><br><br>

{#    <a href="{% url 'learning_logs:reports' %}">Reports</a>#}
{#    <a href="{% url 'learning_logs:my_loans' request.user.id %}">My loan applications</a>#}
{#    <a href="{% url 'learning_logs:messages' request.user.id %}">My Messages</a><br><br>#}

    <div class="container">
        <a href="{% url 'learning_logs:reports' %}" class="btn btn-outline-success">Reports</a>
        <a href="{% url 'learning_logs:my_loans' request.user.id %}" class="btn btn-outline-success">View loan applications</a>
        <a href="{% url 'learning_logs:messages' request.user.id %}" class="btn btn-outline-success">My Messages</a>
    </div>

{% endblock content %}

