{% extends 'learning_logs/base.html' %}

{% block page_header %}
  <h1>Messages</h1>
{% endblock page_header %}

{% block content %}

    <div class="card mb-3">

        <div class="card-body">
            {{ message.date_added|date:'M d,Y H:i' }}
        </div>

        <div class="card-body">
            {{ message.customer_message_subject|linebreaks }}
        </div>

    </div>

    <div class="card mb-3">

        <div class="card-body">
        {{ message.customer_message|linebreaks }}
        </div>

    </div>

    <a href="{% url 'learning_logs:messages' request.user.id %}">Back to your message list</a>

{% endblock %}
